@model HaberPortali.UI.MVC.Models.HaberViewModel

@{
    ViewBag.Title = "Home Page";
}


<!-- Home -->

<div class="home">
    <!-- Home Slider -->

    <div class="home_slider_container">
        <div class="owl-carousel owl-theme home_slider">
            <!-- Slider Item -->
            @foreach (var item in Model.haber)
            {
                if (item.PopulerMi)
                {
                    <div class="owl-item">
                        <div class="home_slider_background" style="background-image:url(../../Assets/images/home_slider.jpg);"></div>
                        <div class="home_slider_content_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_slider_content">
                                            <div class="home_slider_item_category trans_200"><a href="category.html" class="trans_200">kategorid @item.KategoriId</a></div>
                                            <div class="home_slider_item_title">
                                                <a href="/HaberDetay/HaberDetay/@item.HaberId">@item.HaberOzet</a>
                                            </div>
                                            <div class="home_slider_item_link">
                                                <a href="/HaberDetay/HaberDetay/@item.HaberId" class="trans_200">
                                                    Devamini Oku
                                                    <svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
                                                    <polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 " />

												</svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }


            }

        </div>

        <div class="custom_nav_container home_slider_nav_container">
            <div class="custom_prev custom_prev_home_slider">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                <polyline fill="#FFFFFF" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
					</svg>
            </div>
            <ul id="custom_dots" class="custom_dots custom_dots_home_slider">
                <li class="custom_dot custom_dot_home_slider active"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
                <li class="custom_dot custom_dot_home_slider"><span></span></li>
            </ul>
            <div class="custom_next custom_next_home_slider">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                <polyline fill="#FFFFFF" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
					</svg>
            </div>
        </div>

    </div>
</div>

<!-- Page Content -->

<div class="page_content">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Main Content -->

            <div class="col-lg-9">
                <div class="main_content">

                    <!-- Blog Section - Don't Miss -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_tags ml-auto">
                                <ul>
                                    @foreach (var item in Model.kategori)
                                    {
                                        if (item.UstKategoriId == null)
                                        {
                                            <li><a href="category.html">@item.KategoriAdi</a></li>
                                        }
                                    }
                                    @*<li class="active"><a href="category.html">all</a></li>*@
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>
                                        Diger
                                        <ul>
                                            @foreach (var item in Model.kategori)
                                            {
                                                if (item.UstKategoriId != null)
                                                {
                                                    <li><a href="category.html">@item.KategoriAdi</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="clearfix row">

                                @foreach (var item in Model.haber.Take(6))
                                {

                                    <!-- Small Card With Image -->
                                    <div class="card card_small_with_image grid-item ml-auto">
                                        <img class="card-img-top" src="~/Assets/images/post_2.jpg" alt="">
                                        <div class="card-body">
                                            <div class="card-title card-title-small"><a href="/HaberDetay/HaberDetay/@item.HaberId">@item.HaberBaslik</a></div>
                                            <small class="post_meta"><a href="#">@item.Yazar</a><span>@item.YayinlanmaTarihi</span></small>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>

                    <!-- Blog Section - What's Trending -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Trend Haberler</div>
                            <div class="section_tags ml-auto">
                                <ul>
                                    @foreach (var item in Model.kategori.Take(5))
                                    {
                                        <li><a href="category.html">@item.KategoriAdi</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="section_panel_more">
                                <ul>
                                    <li>
                                        Diger
                                        <ul>
                                            @foreach (var item in Model.kategori)
                                            {
                                                if (item.UstKategoriId != null)
                                                {
                                                    <li><a href="category.html">@item.KategoriAdi</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section_content">
                            <div class="clearfix row">

                                @foreach (var item in Model.haber)
                                {
                                    if (item.GoruntulenmeSayisi > 16)
                                    {
                                        <!-- Large Card With Image -->
                                        <div class="card grid-item card_large_with_image m-auto">
                                            <img class="card-img-top" src="~/Assets/images/post_9.jpg" alt="">
                                            <div class="card-body">
                                                <div class="card-title"><a href="/HaberDetay/HaberDetay/@item.HaberId">@item.HaberBaslik</a></div>
                                                <p class="card-text">@item.HaberOzet</p>
                                                <small class="post_meta"><a href="#">Katy Liu</a><span>@item.YayinlanmaTarihi</span></small>
                                            </div>
                                        </div>
                                    }
                                }


                            </div>

                        </div>
                    </div>


                    <!-- Blog Section - Latest -->

                    <div class="blog_section">
                        <div class="section_panel d-flex flex-row align-items-center justify-content-start">
                            <div class="section_title">Gormek Isteyeceginiz Haberler</div>
                        </div>
                        <div class="section_content">
                            <div class="clearfix row">
                                @foreach (var item in Model.haber)
                                {
                                    if (!item.AktifMi)
                                    {
                                        <!-- Small Card With Image -->
                                        <div class="card card_small_with_image grid-item">
                                            <img class="card-img-top" src="~/Assets/images/post_10.jpg" alt="">
                                            <div class="card-body">
                                                <div class="card-title card-title-small"><a href="/HaberDetay/HaberDetay/@item.HaberId">@item.HaberBaslik</a></div>
                                                <small class="post_meta"><a href="#">Katy Liu</a><span>@item.YayinlanmaTarihi</span></small>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                        </div>
                    </div>

                </div>
                <div class="load_more">
                    <div id="load_more" class="load_more_button text-center trans_200">Load More</div>
                </div>
            </div>

            <!-- Sidebar -->

            <div class="col-lg-3">
                <div class="sidebar">
                    <div class="sidebar_background"></div>

                    <!-- Top Stories -->

                    <div class="sidebar_section">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Top Stories</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " />
											</svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_top">
                                        <li class="custom_dot custom_dot_top active"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                        <li class="custom_dot custom_dot_top"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_top">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
											</svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Top Stories Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_top">

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Top Stories Slider Item -->
                                    <div class="owl-item">

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Sidebar Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/top_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising -->

                    <div class="sidebar_section">
                        <div class="advertising">
                            <div class="advertising_background" style="background-image:url(images/post_17.jpg)"></div>
                            <div class="advertising_content d-flex flex-column align-items-start justify-content-end">
                                <div class="advertising_perc">-15%</div>
                                <div class="advertising_link"><a href="#">How Did van Gogh’s Turbulent Mind</a></div>
                            </div>
                        </div>
                    </div>

                    <!-- Newest Videos -->

                    <div class="sidebar_section newest_videos">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Newest Videos</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_vid">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " /></svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_vid">
                                        <li class="custom_dot custom_dot_vid active"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                        <li class="custom_dot custom_dot_vid"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_vid">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " /></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Sidebar Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_vid">

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Newest Videos Slider Item -->
                                    <div class="owl-item">

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_1.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_2.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_3.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Newest Videos Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="side_post_image"><div><img src="~/Assets/images/vid_4.jpg" alt=""></div></div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advertising 2 -->

                    <div class="sidebar_section">
                        <div class="advertising_2">
                            <div class="advertising_background" style="background-image:url(~/Assets/images/post_18.jpg)"></div>
                            <div class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
                                <div class="advertising_2_link"><a href="#">Turbulent <span>Mind</span></a></div>
                            </div>
                        </div>
                    </div>

                    <!-- Future Events -->

                    <div class="sidebar_section future_events">
                        <div class="sidebar_title_container">
                            <div class="sidebar_title">Future Events</div>
                            <div class="sidebar_slider_nav">
                                <div class="custom_nav_container sidebar_slider_nav_container">
                                    <div class="custom_prev custom_prev_events">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 " /></svg>
                                    </div>
                                    <ul id="custom_dots" class="custom_dots custom_dots_events">
                                        <li class="custom_dot custom_dot_events active"><span></span></li>
                                        <li class="custom_dot custom_dot_events"><span></span></li>
                                        <li class="custom_dot custom_dot_events"><span></span></li>
                                    </ul>
                                    <div class="custom_next custom_next_events">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
                                        <polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 " />
											</svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar_section_content">

                            <!-- Sidebar Slider -->
                            <div class="sidebar_slider_container">
                                <div class="owl-carousel owl-theme sidebar_slider_events">

                                    <!-- Future Events Slider Item -->
                                    <div class="owl-item">

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">13</div>
                                                        <div class="event_month">apr</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">27</div>
                                                        <div class="event_month">apr</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">02</div>
                                                        <div class="event_month">may</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">09</div>
                                                        <div class="event_month">may</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Future Events Slider Item -->
                                    <div class="owl-item">

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">13</div>
                                                        <div class="event_month">apr</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">27</div>
                                                        <div class="event_month">apr</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">02</div>
                                                        <div class="event_month">may</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">09</div>
                                                        <div class="event_month">may</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                    <!-- Future Events Slider Item -->
                                    <div class="owl-item">

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">13</div>
                                                        <div class="event_month">apr</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">27</div>
                                                        <div class="event_month">apr</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">02</div>
                                                        <div class="event_month">may</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- Future Events Post -->
                                        <div class="side_post">
                                            <a href="post.html">
                                                <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                                        <div class="event_day">09</div>
                                                        <div class="event_month">may</div>
                                                    </div>
                                                    <div class="side_post_content">
                                                        <div class="side_post_title">How Did van Gogh’s Turbulent Mind</div>
                                                        <small class="post_meta">Katy Liu<span>Sep 29</span></small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


